{{#if Movie}}
    <script>
    $('editForm').show();
    </script>
{{/if}}

<div class="row">
    <div class="col-12">
        <div class="card mt-2" name="form" id="form">
            <div class="card-body">
                <h5 class="card-title text-center">Add New Movie</h5>
                <form class="form-group" action="/" method="POST">
                    <span>Movie Name</span>
                    <input type="text" class="form-control" name="movieName" required>
            
                    <span>Movie Details</span>
                    <textarea type="text" class="form-control" name="movieDetails" required ></textarea>
            
                    <span>Movie Poster</span>
                    <input type="text" class="form-control" name="movieIMG" required>

                    <button type="submit" class="btn btn-block btn-dark mt-2">Save</button>
                </form>
            </div>
        </div>
    </div>       
</div>


 {{#each movie}}   
        <div class="col-sm-3 text-center float-left">
            <div class="card">
                <img class="card-img-top img-responsive " src="{{movieIMG}}" alt="Card image cap" >
                    
                <div class="card-body">
                    <h5 class="card-title">{{movieName}}</h5>
                    <p class="card-text" >{{movieDetails}}<span>...</span></p>
                    
                    <hr>

                    <form action="/{{_id}}"  method="POST" style="float: left">
                        <button class="btn btn-success btnEdit">Edit</button>
                    </form>

                    <form action="/delete/{{_id}}" method="POST" style="float: right">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
   

 {{/each}}
 